*{
    font-family: Arial;  
    padding:0;
    margin: 0;
}


body{
    padding-top:50px;
}

.starter-template{
    padding: 40px 50px;
}

.centrl{
    text-align: center;
}

.block{  
    opacity:0.5;
    color:white;
    font-weight:bold;
    height: 15%;
    font-size: 7pt;
    margin: 0;
}

.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}


footer{
    position:absolute;
    bottom: 25px;
    width:100%;
    text-align: center;
    font-weight: bold;
}

.content{
   margin-top:50px;    
}

.article_title{
    margin: 20px 0 20px 0;
}

.left-column, .right-column{
    width:30%;
    float:left;
}

.right-column{
    width:70%;
    float:right;
}

